Repository TsubakiBotPad/pad-cogs, pull requests merged in 2022-06, with the labels that each got.

#1722 Add IDRangeToken & use subqueries in OrToken
  dbcog/find_monster/find_monster.py
  dbcog/find_monster/tokens/__init__.py
  dbcog/find_monster/tokens/find_monster_tokens.py
Labels: id3

#1727 Update README setup instructions
  README.md
Labels: documentation

#1734 Fix initial set-up day being day 2
  padle/padle.py
Labels: bug, padle

#1741 Menu2 for globalstats
  padle/menu/globalstats.py
  padle/menu/menu_map.py
  padle/menu/padle_scroll.py
  padle/padle.py
  padle/view/globalstats_view.py
  padle/view/padle_scroll_view.py
Labels: menu2, padle

#1745 Add Chu to buttoninfo
  padinfo/core/button_info.py
Labels: buttoninfo

#1749 Fix filter command
  padle/padle.py
Labels: padle

#1750 [PADle] Fix unsubscribe
  padle/padle.py
Labels: bug, padle

#1755 Remove crosscog dbcog import
  dbcog/dungeon_context.py
  dungeoncog/dungeoncog.py
Labels: dungeoncog
